
ul {
    list-style: none;
    padding: 0;
}
body {
    /* width: 99%; */
    margin: 0 auto;
    background-color: #333333;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
}

/* top Nav Bar */
.top-header {
    border: solid 1px #222222;
    border-bottom: none;
    /* background-color: linear-gradient(#444444, red); */
    background-image: radial-gradient(#444444, #666666);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}
.ul-links-list {
    font-size: 5vw;
    padding: 0;
    margin: 2%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.fa-brands {
    padding: 5%;
    color: azure;
}
.li-social-links a:hover {
    box-shadow: 1px 1px 5px;
}
/* navigation bar */
nav {
    position: sticky
}
.nav-header {
    border: solid 1px #666666;
    background-color: #444444;
    font-size: 4vw;
    /* overflow: hidden; */
    padding: 3%;
    margin: 0 auto;
    width: 99%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.title {
    align-self: center;
    color: azure;
}
.title > h2 {
    padding: 0;
    margin: 0;
}
.dropdown-menu {
    display: flex;
    justify-content: flex-end;
    margin: 1% 2%;
}
.menu-ul-nav {
    position: absolute;
    display: flex;
    text-align: end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 0 auto;
    background-color: #444444;
    box-shadow: -1vw 2vw 1vw  rgba(0,0,0,0.2);
    box-sizing: border-box;
    z-index: 1;
}
.li-nav {
    padding: 2vw 4vw 2vw 10vw;
    display: block;
    /* border: 1px solid black; */
}
.li-nav a {
    color: azure;
    text-decoration: none;
    margin: 0 auto;
}
.fa-bars {
    font-size: 8vw;
    display: block;
}
.divider {
    border: 1px solid rgba(0,0,0,0.8);
}
/* Main  */
main {

}
h1 {
    color:azure;
    text-align: center;
    margin: 5% auto;
}
.hide {
    display: none;
}
@media(max-width: 880px) {
    .top-menu-nav {
        display: none;
    }
}
@media(min-width: 881px) {
    .dropdown-menu {
        display: none;
    }
    body {
        background-image: radial-gradient(black, red, blue);
    }

    nav {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 225px;
    }
    .nav-header {
        display: flex;
        align-content: flex-start;
        
    }
    .title > h2 {
        color:honeydew;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .top-menuinav {
        display: flex;
        align-content: stretch;
    }
    .menu-ul-nav{
        display: flex;
    }
    #hamburger {
        display: none;
    }
}



/* seems hide class needs to come after so it is not written over prior...JS reads top to bottom */
